{%- comment -%}
  JSON-LD 구조화 데이터 (Schema.org)

  - 모든 페이지: WebSite + Person(작성자) + SearchAction
  - 포스트 페이지: BlogPosting + BreadcrumbList
{%- endcomment -%}

{%- assign schema_description = page.seo_description
  | default: page.description
  | default: page.meta
  | default: site.description
  | strip_newlines
  | strip -%}

{%- assign schema_image = page.image | default: site.seo.default_image | absolute_url -%}
{%- assign schema_lang = page.lang | default: site.default_lang | default: 'ko' -%}
{%- assign schema_page_url = page.canonical | default: page.url | absolute_url -%}
{%- if schema_lang == site.default_lang -%}
  {%- assign schema_search_url = site.url | append: '/search/?q={search_term_string}' -%}
  {%- assign schema_home_url = site.url | append: '/' -%}
{%- else -%}
  {%- assign schema_search_url = site.url | append: '/' | append: schema_lang | append: '/search/?q={search_term_string}' -%}
  {%- assign schema_home_url = site.url | append: '/' | append: schema_lang | append: '/' -%}
{%- endif -%}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "{{ site.url }}/#website",
      "url": "{{ site.url }}/",
      "name": {{ site.title | jsonify }},
      "description": {{ site.description | strip_newlines | strip | jsonify }},
      "inLanguage": "{{ schema_lang }}",
      "publisher": { "@id": "{{ site.url }}/#person" },
      "potentialAction": {
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "{{ schema_search_url }}"
        },
        "query-input": "required name=search_term_string"
      }
    },
    {
      "@type": "Person",
      "@id": "{{ site.url }}/#person",
      "name": {{ site.author.name | jsonify }},
      "url": "{{ site.url }}/",
      "email": "{{ site.author.email }}",
      "sameAs": [
        "https://twitter.com/{{ site.author.twitter }}",
        "https://github.com/{{ site.author.github }}"
      ]
    }
    {%- if page.layout == "post" -%}
    ,{
      "@type": "BlogPosting",
      "@id": "{{ schema_page_url }}#article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ schema_page_url }}"
      },
      "headline": {{ page.title | jsonify }},
      "description": {{ schema_description | jsonify }},
      "image": {{ schema_image | jsonify }},
      "datePublished": "{{ page.date | date_to_xmlschema }}",
      "dateModified": "{{ page.updated | default: page.last_modified_at | default: page.date | date_to_xmlschema }}",
      "author": { "@id": "{{ site.url }}/#person" },
      "publisher": { "@id": "{{ site.url }}/#person" },
      "inLanguage": "{{ schema_lang }}",
      "isPartOf": { "@id": "{{ site.url }}/#website" }
      {%- if page.tags.size > 0 -%}
      ,"keywords": {{ page.tags | join: ", " | jsonify }}
      {%- endif -%}
    }
    ,{
      "@type": "BreadcrumbList",
      "@id": "{{ schema_page_url }}#breadcrumb",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": {{ site.title | jsonify }},
          "item": "{{ schema_home_url }}"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": {{ page.title | jsonify }},
          "item": "{{ schema_page_url }}"
        }
      ]
    }
    {%- endif -%}
  ]
}
</script>