---
layout: default
archives: true
---

<article class="page">
    <h1 class="page-title">Archive</h1>
    <h3>{{ page.title }}</h3>
    <ul class="archive">
        {% for post in page.posts %}
            {% assign post_lang = post.lang | default: site.default_lang %}
            {% if post_lang == site.default_lang %}
            <li>{{ post.date | date:"%Y" }} <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</article>
